@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
		font-family: "Plus Jakarta Sans", sans-serif;
		color: var(--color-text);
	}
}

@theme {
	--color-accent: #6c5ad5;
	--color-grey: #f9faff;
	--color-grey2: #f2f3f7;
	--color-dark: #0d0f11;
	--color-text: #1d2026;
}
